.homepage {
    width: 97vw;
    height: 115vh;
    border: 2px solid black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(https://assets.nflxext.com/ffe/siteui/vlv3/a73c4363-1dcd-4719-b3b1-3725418fd91d/fe1147dd-78be-44aa-a0e5-2d2994305a13/IN-en-20231016-popsignuptwoweeks-perspective_alpha_website_large.jpg);

}

.logo-box {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-left: 80px;
}

.box1 {
    padding-left: 600px;
}

.content {
    color: #fff;
    text-align: center;
    padding-top: 90px;
}
.content h1{
    font-size: 3rem;
    font-weight: 900;
    padding: 0 8vw 0 8vw;
}
.content h3{
    font-size: 1.8rem;
}

.container1 {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    background-color: black;
    align-items: center;
    align-content: space-around;

}
.text1,.text2.text3,.text4 ,h1{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.text1,
.text3 {
    display: block;
    color: #fff;
    text-align: justify;
    padding-left: 150px;
    font-size: 1.5rem;
    font-weight: 900;
}

.img1,
.img3 {
    padding-right: 180px;
    /* width: 300px; */

}

.text2,
.text4 {
    display: block;
    color: #fff;
    text-align: justify;
    padding-right: 180px;
    font-size: 1.5rem;
    font-weight: 900;
}

.img2,
.img4 {
    padding-left: 150px;
}

.container2 {
    border: 1px solid black;
    width: 100%;
    height: 165vh;
    margin-top: 10px;
    background-color: black;
    color: #fff;
}

.heading {
    font-size: 3rem;
    padding-top: 1vh;
    text-align: center;
}

.questions-section {
    display: grid;
    grid-template-rows: repeat(6, 80px);
    gap: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.question {
    background-color: rgb(45 45 45);
    padding: 20px;
}

.question-text {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.plus-icon {
    font-size: 3rem;
}

.answer {
    background-color: rgb(45 45 45);
    height: auto;
    display: none;
    padding-left: 1vw;
}

.question:hover+.answer {
    display: block;
}

.membership-button {
    text-align: center;
    padding-top: 6vh;
}

.forbackground {
    background-color: rgb(35, 35, 35);
}

.container3 {
    border: 1px solid black;
    width: 100%;
    height: 80vh;
    margin-top: 10px;
    background-color: black;

}

.para{
    color:rgba(255, 255, 255, 0.7);
    padding-top: 11vh;
    margin-left: 15.8vw;
}
.properties {
    color: #fff;

}

a {
    color: rgba(255, 255, 255, 0.7);
}

.about-us-info{
        height:30vh;
        width: 70vw;
        padding:10px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        margin-left: 15vw;
        align-content: space-around;
}

.select-box{
    padding-top: 1.5vh;
    margin-left: 15.8vw;

}
.line{
    color:  rgba(255, 255, 255, 0.7);
    margin-left: 15.8vw;
    padding-top: 2vh;
}
.box1 select{
    width: 16vw;
    height: 6vh; 
    background-color: rgb(15, 14, 14) ;
    color: #fff; 
    border: 0.2px solid #f0eaea; 
    border-radius: 3px;
}
.content button{
    background-color: red; 
    color: #fff; 
    border: red; 
    font-size: 18px; 
    width: 25vw; 
    height: 8vh; 
    border-radius: 5px;
}
.membership-button button{
    background-color: red; 
    border: red; 
    width: 28vw; 
    height: 10vh; 
    color: #fff; 
    border-radius: 0.5rem; 
    font-size: 1.2rem; 
    font-weight: 600;
}
.signout-btn button{
    background-color: red; 
    color: #fff; 
    border: red; 
    width: 85px; 
    height: 33px; 
    border-radius: 5px; 
    margin-left: 30px;
}